
* {
    box sizing: border-box;
}

body {
    background-image: url("paper.gif");
    background-color: #36454f;
}

header {
    position: static;
}

#hyperlinks {
    width: 96%;
    height: 20 px;
    margin: 0 0 5px;
    background: beige;
    padding: 20px;
    border-bottom: 1px solid grey;
    overflow: auto;
    padding-bottom: 0%;
}

#name {
    color: beige;
    font-size: 30px;
    line-height: 90px;
    font-weight: bold;
    font-family: "Gill Sans", sans-serif;
    background: teal;
    height: 90 px;
    width: 250 px;
    float: left;
    text-align: center
}


nav {
    float: right;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: grey;
}

h1, h2 {
    font-family: "Gill Sans", sans-serif;
}


h1 {
    font-size: 200%;
    color: teal;
    font-weight: 700;
    margin-bottom: 20 px;
    border-bottom: 1px solid lightgray;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    color: teal;
    font-weight: 500;
    font-size: 22 px;
}

p {
    font-family: "Gill Sans", sans-serif;
    font-size: 20 px;
    color: darkgray; 
    margin-right: 35%;
    font-size: 130%;
    margin-bottom: 30px;
}

#main-box1 {
    padding-top: 15px;
    background: beige;
    /*margin: 0 0 40px 0;*/
    margin-left: auto;
    width: 100%;
    max-width: 960px;
    height: 600px;
}

#main-box2 {
    padding-top: 15px;
    background: beige;
    margin-left: auto;
    width: 100%;
    max-width: 960px;
    height: 800px;
}

#main-box3 {
    padding-top: 15px;
    background: beige;
    margin-left: auto;
    width: 100%;
    max-width: 960px;
    height: 500px;
}

p {
    bottom: 350px;
    left: 50px;
    width: 50%;
    height: 100%;
    width-max: 45 px;
    margin-left: 40%;
    margin-right: 5%;
    margin-top: 30px;
}

footer .box {
    clear: both;
    border-top: 8px solid #4aaaa5;
    width: 100%
}

#form {
    margin-left: 20px;
}

#form #message{
    width: 500px;
    height: 250px;
}

.box {
    width: 960px;
    margin: 0 auto;
    clear: both;
}

.project .text2 {
    color: teal;
    background: purple;
    text-align: center;
    bottom: 20px;
    padding: 15px;
    width: 83%;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
}

.project {
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
}

#Couch-seal {
    float: left;
    margin-top: 30px;
    margin-left: 15px;
}

@media screen and (max-width: 640px) {

    body {
        background-color: #333;
    }
    #main-box1 {
        padding-top: 15px;
        background: beige;
        margin-left: auto;
        width: 60%;
        height: 2000px;
    }
    #Couch-seal {
        width: 200px;
        height: 350px;
    }
    p {
        float: left;
        margin: 5px;
        margin-top: 35px;
    }

    #main-box2 {
        padding-top: 15px;
        background: beige;
        margin-left: auto;
        width: 50%;
        max-width: 960px;
        height: 1700px;
    }
    .project .text2 {
        color: teal;
        background: purple;
        text-align: center;
        bottom: 20px;
        padding: 15px;
        width: 83%;
        line-height: 30px;
        margin-bottom: 0;
        font-weight: 300;
    }

    #main-box3 {
        padding-top: 15px;
        background: beige;
        margin-left: auto;
        width: 70%;
        height: 450px;
    }
    #form #message{
        width: 250px;
        height: 125px;
    }
    nav {
        float: left;
        margin-top: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: grey;
    }
    
}

@media screen and (max-width: 768px) {

    body {
        background-color: #333;
    }
    #main-box1 {
        padding-top: 15px;
        background: beige;
        margin-left: auto;
        width: 60%;
        height: 2000px;
    }
    #Couch-seal {
        width: 350px;
        height: 500px;
    }
    p {
        float: left;
        margin: 5px;
        margin-top: 35px;
    }

    #main-box2 {
        padding-top: 15px;
        background: beige;
        margin-left: auto;
        width: 50%;
        max-width: 960px;
        height: 1700px;
    }
    .project .text2 {
        color: teal;
        background: purple;
        text-align: center;
        bottom: 20px;
        padding: 15px;
        width: 83%;
        line-height: 30px;
        margin-bottom: 0;
        font-weight: 300;
    }

    #main-box3 {
        padding-top: 15px;
        background: beige;
        margin-left: auto;
        width: 70%;
        height: 450px;
    }
    #form #message{
        width: 250px;
        height: 125px;
    }
    nav {
        float: left;
        margin-top: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: grey;
    }
    
}
@media screen and (max-width: 980px) {

    body {
        background-color: #333;
    }
    #main-box1 {
        padding-top: 15px;
        background: beige;
        margin-left: auto;
        width: 60%;
        height: 2000px;
    }
    #Couch-seal {
        width: 160px;
        height: 250px;
    }
    p {
        float: left;
        margin: 5px;
        margin-top: 35px;
    }

    #main-box2 {
        padding-top: 15px;
        background: beige;
        margin-left: auto;
        width: 50%;
        max-width: 960px;
        height: 1700px;
    }
    .project .text2 {
        color: teal;
        background: purple;
        text-align: center;
        bottom: 20px;
        padding: 15px;
        width: 83%;
        line-height: 30px;
        margin-bottom: 0;
        font-weight: 300;
    }

    #main-box3 {
        padding-top: 15px;
        background: beige;
        margin-left: auto;
        width: 70%;
        height: 450px;
    }
    #form #message{
        width: 250px;
        height: 125px;
    }
    nav {
        float: left;
        margin-top: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: grey;
    }
    
}